<div class="navbar-mine">
<%= link_to "Home", lists_path %>
</div>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1513106580091-1d82408b8cd6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80);">
  <div class="container">
    <h1>Create Your Movies Watch Lists</h1>
    <p>Moving subtitle</p>
    <%= link_to "New List", new_list_path, class: "btn btn-flat", id: "btn-show" %>
  </div>
</div>

<div class="container">
<div class="grid cards-display">
<% @lists.each do |list| %>
  <%= link_to list_path(list) do%>
  <div class="card">
    <img src="<%= list.url %>" class="card-img" alt="Movie-category">
    <div class="card-content" id="card-list-content">
      <p ><%= list.name %></p>
      <span id="lists-movie-counter"><%= list.movies.count %> movies</span>
    </div>
  </div>
  <% end %>
<% end %>
</div>
</div>
